/* --------------- big screen ---------*/
@media screen and (min-width: 1241px) and (max-width: 1380px) {
	.row {
		height: 3.5em;
	}
	.button {
	line-height: 65px;	
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 15px;
	}
	.backspace {
		width: 8.5%;
	}
	.slash {
		width: 7%;
	}
	.alt-right,
	.none,
	.menu,
	.ctrl-right {
		width: 8.5%;
	}
	.fbutton {
	width: 6.2%;
	}
	.home {
		margin-right: 12px;
		font-size: 0.9em;
	}
	.button-left {
	margin-right: 17px;
	}	
	.button-right {
	margin-left: 17px;
	}
	.button-up {
	margin-right: 10px;
	}
	.arrow_button {
		line-height: 60px;
	}

}
@media screen and (min-width: 1381px) and (max-width: 1480px) {
	.row {
		height: 3.5em;
	}
	.button {
	line-height: 75px;	
	}
	.backspace {
		width: 9%;
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 15px;
	}
	.slash {
		width: 7.5%;
	}
	.enter {
		width: 12.3%
	}
	.shift-left, 
	.shift-right {
		width: 14.7%;
	}
	.fbutton {
	width: 6.3%;
	}
	.home {
		margin-right: 6px;
		font-size: 0.9em;
	}
	
	.button-left {
	margin-right: 18px;
}	
	.button-right {
	margin-left: 18px;
	}
	.button-up {
	margin-right: 14px;
	}
	.arrow_button {
		line-height: 70px;
	}
}
@media screen and (min-width: 1481px) and (max-width: 1640px) {
	body {
		font-size: 1.8em;
	}
	.row {
		height: 3.5em;
	}
	.button {
	line-height: 80px;	
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 15px;
	}
	.backspace {
		width: 9.5%;
	}
	.slash {
		width: 8%;
	}
	.enter {
		width: 13%
	}
	.shift-left, 
	.shift-right {
		width: 14.9%;
	}
	.alt-right,
	.none,
	.menu,
	.ctrl-right {
		width: 8.6%;
	}
	.fbutton {
	width: 6.3%;
	}
	.home {
		margin-right: 6px;
		font-size: 0.9em;
	}
	
	.button-left {
	margin-right: 19px;
}	
	.button-right {
	margin-left: 19px;
	}
	.button-up {
	margin-right: 16px;
	}
	.arrow_button {
		line-height: 80px;
	}
}