/* --------------- small screen ---------*/
@media screen and (min-width: 320px) and (max-width: 400px) {
	body {
		font-size: 6px;
	}
	.container {
		min-width: 320px;
	}
	.button {
		width: 6.1%;
		line-height: 13px;
		margin-right: 3px;
		padding: 3px;
	}
	.row {
		height: 4em;
		padding: 6px 6px 0 6px;
	}
	.last {
		margin-right: 0;
	}
	.backspace,
	.slash,
	.enter,
	.shift-right,
	.ctrl-right {
		margin-right: 0;
		margin-left: 3px;
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 3px;
	}
	.ctrl-left,
	.win,
	.alt-left {
		width: 8.6%;
	}
	.space {
	width: 35%;
	}
	.alt-right, .none, .menu, .ctrl-right {
    width: 7.9%;
	}
	.backspace {
        width: 7%;
	}
	.tab {
		width: 7%;
	}
	.slash {
        width: 6%;
	}
	.capslock {
        width: 9.7%;
	}
	.enter {
		width: 10.4%;
	}
	.shift-left, .shift-right {
    width: 13.6%;
	}
	.fbutton {
	width: 5.7%;
	}
	.home {
		margin-right: 5px;
		font-size: 0.65em;
	}
	.end {
		margin-right: 0;
	}
	.button-left {
	margin-right: 4px;
	}	
	.button-right {
	margin-left: 4px;
	}
	.button-up {
	margin-right: 4px;
	}
	.arrow_button {
		line-height: 13px;
	}
}	
@media screen and (min-width: 350px) {
	.backspace {
        width: 8.2%;
	}
	.tab {
		width: 8.2%;
	}
	.slash {
        width: 6.2%;
	}
	.capslock {
        width: 10%;
	}
	.enter {
		width: 11.4%;
	}
	.shift-left, .shift-right {
		width: 14.2%;
	}
	.alt-right, .none, .menu, .ctrl-right {
		width: 8.1%;
	}
	.home {
		margin-right: 8px;
	}
}
@media screen and (min-width: 381px) {
	.backspace {
        width: 9.3%;
	}
	.tab {
		width: 8.8%;
	}
	.slash {
        width: 6.5%;
	}
	.capslock {
        width: 10%;
	}
	.enter {
		width: 12.3%;
	}
	.shift-left, .shift-right {
		width: 14.7%;
	}
	.alt-right, .none, .menu, .ctrl-right {
		width: 8.2%;
	}
}
@media screen and (min-width: 401px) and (max-width: 536px) {
	body {
		font-size: 7px;
	}
	.container {
		min-width: 400px;
	}
	.button {
		width: 6.1%;
		line-height: 13px;
		margin-right: 3px;
	}
	.row {
		height: 4em;
		padding: 6px 6px 0 6px;
	}
	.last {
		margin-right: 0;
	}
	.backspace,
	.slash,
	.enter,
	.shift-right,
	.ctrl-right {
		margin-right: 0;
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 5px;
	}
	.ctrl-left,
	.win,
	.alt-left {
		width: 9%;
	}
	.space {
	width: 34%;
	}
	.alt-right, .none, .menu, .ctrl-right {
    width: 8.1%;
	}
	.backspace {
        width: 8.7%;
	}
	.tab {
		width: 8.7%;
	}
	.slash {
        width: 6%;
	}
	.capslock {
        width: 10.3%;
	}
	.enter {
		width: 11.5%;
	}
	.shift-left, .shift-right {
    width: 14.35%;
	}
	.fbutton {
	width: 5.8%;
	}
	.home {
		margin-right: 5px;
		font-size: 0.65em;
	}
	.button-left {
	margin-right: 5px;
	}	
	.button-right {
	margin-left: 5px;
	}
	.button-up {
	margin-right: 5px;
	}
	.arrow_button {
		line-height: 15px;
	}
	.end {
		margin-right: 0;
	}
	
}
@media screen and (min-width: 430px){
	.backspace {
        width: 9.8%;
	}
	.tab {
		width: 9.8%;
	}
	.slash {
        width: 6.3%;
	}
	.shift-left, .shift-right {
		width: 14.8%;
	}
	.alt-right, .none, .menu, .ctrl-right {
		width: 8.25%;
	}
	.enter {
		width: 12.3%;
	}
}
@media screen and (min-width: 480px) {
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 7px;
	}
	.fbutton {
	width: 5.85%;
	}
	.home {
		margin-right: 8px;
	}
	.backspace {
        width: 9.9%;
	}
	.slash {
        width: 6.5%;
	}
	.enter {
		width: 12.5%;
	}
}
@media screen and (min-width: 537px) and (max-width: 600px) {
	body {
		font-size: 0.6em;
	}
	.container {
		min-width: 540px;
	}
	.button {
		width: 6.1%;
		line-height: 20px;
	}
	.row {
		height: 3.6em;
		padding: 6px 6px 0 6px;
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 5px;
	}
	.ctrl-left,
	.win,
	.alt-left {
		width: 8.8%;
	}
	.space {
	width: 35%;
	}
	.alt-right, .none, .menu, .ctrl-right {
    width: 8%;
	}
	.ctrl-left,
	.win,
	.alt-left {
		width: 8.6%;
	}
	.backspace {
        width: 7.3%;
	}
	.tab {
		width: 7.3%;
	}
	.slash {
        width: 6%;
	}
	.capslock {
        width: 10%;
	}
	.enter {
		width: 10.6%;
	}
	.shift-left, .shift-right {
    width: 13.8%;
	}
	.fbutton {
	width: 5.7%;
	}
	.home {
		margin-right: 7px;
	}
	.button-left {
	margin-right: 7px;
	}	
	.button-right {
	margin-left: 7px;
	}
	.button-up {
	margin-right: 5px;
	}
	.arrow_button {
		line-height: 20px;
	}
	.end {
		margin-right: 0;
	}
}
@media screen and (min-width: 560px) {
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 9px;
	}
	.home {
		margin-right: 9px;
	}
}

@media screen and (min-width: 601px) and (max-width: 760px) {
	body {
		font-size: 0.8em;
	}
	.container {
		min-width: 600px;
	}
	.button {
		width: 6.1%;
		line-height: 25px;	
	}
	.row {
		height: 3em;
		padding: 6px 6px 0 6px;
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 5px;
	}
	.ctrl-left,
	.win,
	.alt-left {
		width: 8.8%;
	}
	.space {
	width: 35%;
	}
	.alt-right, .none, .menu, .ctrl-right {
    width: 8%;
	}
	.backspace {
        width: 8.6%;
	}
	.tab {
		width: 8%;
	}
	.slash {
        width: 6.7%;
	}
	.capslock {
        width: 9.7%;
	}
	.enter {
		width: 11.8%;
	}
	.shift-left, .shift-right {
    width: 14.3%;
	}
	.fbutton {
	width: 5.9%;
	}
	.home {
		margin-right: 5px;
	}
	.button-left {
	margin-right: 8px;
	}	
	.button-right {
	margin-left: 8px;
	}
	.button-up {
	margin-right: 6px;
	}
	.arrow_button {
		line-height: 30px;
	}
	.end {
		margin-right: 0;
	}
}
@media screen and (min-width: 630px) {
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 8px;
	}
	.alt-right, .none, .menu, .ctrl-right {
		width: 8.1%;
	}
	.enter {
		width: 12%;
	}
	
}
@media screen and (min-width: 671px) {
	.row {
		height: 3.2em;
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 8px;
	}
	.alt-right, .none, .menu, .ctrl-right {
		width: 8.2%;
	}
	.enter {
		width: 12.8%;
	}
	.slash {
        width: 7.5%;
	}
	.backspace {
        width: 9.5%;
	}
	.shift-left, .shift-right {
    width: 14.7%;
	}

}
@media screen and (min-width: 730px) and (max-width: 760px) {
	.backspace {
        width: 10.3%;
	}
	.slash {
        width: 8.4%;
	}
	.capslock {
		width: 10%;
	}
	.shift-left, .shift-right {
    width: 15%;
	}
	.enter {
		width: 13%;
	}
	.alt-right, .none, .menu, .ctrl-right {
		width: 8.3%;
	}

	
}
@media screen and (min-width: 761px){
	body {
		font-size: 1.1em;
	}
	.container {
		min-width: 760px;
	}
	.button {
		width: 6.3%;
		line-height: 40px;	
	}
	.row {
		height: 3em;
		padding: 6px 6px 0 6px;
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 5px;
	}
	.backspace {
        width: 8.5%;
	}
	.tab {
		width: 8.2%;
	}
	.slash {
        width: 6.7%;
	}
	.capslock {
        width: 10%;
	}
	.enter {
		width: 11.8%;
	}
	.shift-left, .shift-right {
    width: 14.3%;
	}
	.ctrl-left,
	.win,
	.alt-left {
		width: 9.3%;
	}
	.space {
	width: 35%;
	}
	.alt-right, .none, .menu, .ctrl-right {
    width: 8%;
	}
	.fbutton {
	width: 6%;
	}
	.home {
		margin-right: 8px;
	}
	.button-left {
	margin-right: 11px;
	}	
	.button-right {
	margin-left: 11px;
	}
	.button-up {
	margin-right: 6px;
	}
	.arrow_button {
		line-height: 40px;
	}
	.end {
		margin-right: 0;
	}
}
@media screen and (min-width: 881px) {
	body {
		font-size: 1.3em;
	}
	.container {
		min-width: 880px;
	}
	.row {
		height: 3em;
		padding: 9px 8px 0 8px;
	}
	.button {
		width: 6.5%;
		line-height: 45px;	
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 8px;
	}
	.backspace {
        width: 7.2%;
	}
	.tab {
		width: 7.4%;
	}
	.slash {
        width: 6.2%;
	}
	.capslock {
        width: 9.6%;
	}
	.enter {
		width: 11%;
	}
	.shift-left, .shift-right {
    width: 13.9%;
	}
	.alt-right, .none, .menu, .ctrl-right {
    width: 8.1%;
	}
	.ctrl-left,
	.win,
	.alt-left {
		width: 9.3%;
	}
	.space {
	width: 35%;
	}
	.fbutton {
	width: 6.1%;
	}
	.home {
		margin-right: 6px;
	}
	.button-left {
	margin-right: 12px;
	}	
	.button-right {
	margin-left: 12px;
	}
	.button-up {
	margin-right: 7px;
	}
	.arrow_button {
		line-height: 45px;
	}
	
}
@media screen and (min-width: 940px) and (max-width: 991px) {
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 12px;
	}	
	.alt-right, .none, .menu, .ctrl-right {
		width: 8.2%;
	}
}
