* {
    margin: 0;
}
*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                              
	vertical-align: baseline;          
	background: transparent;      
	font-size: 100%;                    
}
div {
	display: block;	
}
html {
	min-height:100%; 
}
body {
	color: white;
	font-size: 1.5em;
	font-family:  Arial, Tahoma, Verdana;
	line-height: 1;	
	margin: 0 auto;
	text-align: left;
	text-transform: capitalize;
	background-color: #404040;
}
#wrapper {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	padding-top: 1em;
	position: relative;
}
.container {
	width: 100%;
	min-width: 1024px;
	height: 100%;
	max-height: 530px;
	margin: 0 auto;
	padding: 0.3em 1em 0.3em 1em;
	position: relative;
}
.row  {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none; 
	user-select: none; 
	width: 100%;
	height: 2.7em;
	margin: 0 auto;
	padding: 9px 8px 0 8px;
	position: relative;
}
.row:nth-child(7) {
	margin-bottom: 9px;
}
.row:after, .row:before {
		content: '';
		display: table;		
}
.row:after {
	clear: both;
}
.button{
	float: left;
	background: #787878;
	margin: 0 auto;
	margin-right: 5px;
	text-align: center;
	padding: 5px;
	width: 6.5%;
	height: 100%;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.7), 0 2px 3px rgba(192,192,192,0.7) inset;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.7), 0 2px 3px rgba(192,192,192,0.7) inset;
	box-shadow: 0 2px 3px rgba(0,0,0,0.7), 0 2px 3px rgba(192,192,192,0.7) inset;
	vertical-align: top;
	line-height: 45px;
	position: relative;
}
.last {
	margin-right: 0;
	position: relative;
}

.del,
.end,
.home {
	position: relative;
	background: #303030;
}
.end {
	float: right;
	margin-right: 0;
}

.escape,
.backspace,
.tab,
.slash,
.capslock,
.enter,
.shift-left, 
.shift-right,
.ctrl-left,
.win,
.alt-left,
.space,
.alt-right,
.none,
.menu,
.ctrl-right
 {
	background: #303030;
	position: relative;
}

.escape,
.tab,
.capslock,
.shift-left {
	margin-right: 8px;
	position: relative;
}
.backspace,
.slash,
.enter,
.shift-right,
.ctrl-right {
	margin-right: 0;
	margin-left: 5px;
	position: relative;
}
.backspace {
	float: right;
	width: 8%;
}
.tab {
	width: 8%;
}
.slash {
	float: right;
	width: 6.5%;
	
}
.capslock {
	width: 10%;
}
.enter {
	float: right;
	width: 11.5%;
}
.shift-left, 
.shift-right {
	width: 14.3%;
}
.shift-right {
	float: right;
}
.ctrl-left,
.win,
.alt-left {
	width: 9.3%;
}
.space {
	width: 35%;
}
.alt-right,
.none,
.menu,
.ctrl-right {
	width: 8.3%;
}

.ctrl-right {
	float: right;
}
.fbutton {
	width: 6.1%;
	background: #303030;
	position: relative;
}
.home {
		margin-right: 10px;
		font-size: 0.75em;
	}
	
.end {
		margin-right: 0;
	}
.arrow_button{
	float: left;
	background: #303030;
	margin: 0 auto;
	margin-right: 9px;
	text-align: center;
	padding: 5px;
	width: 24%;
	height: 100%;
	box-shadow: 0 2px 3px rgba(0,0,0,0.7), 0 2px 3px rgba(192,192,192,0.7) inset;
	vertical-align: top;
	line-height: 45px;
	position: relative;
}
.button-left {
	margin-right: 14px;
}	
.button-right {
	float: right;
	margin-right: 0;
	margin-left: 14px;
}
.button-down {
	margin-right: 0;
}

/* --------------- /push ---------*/
.push {
	background: #424242;
	box-shadow: 0 2px 3px rgba(192,192,192,0.7), 0 2px 3px rgba(0,0,0,0.7) inset;
	position: relative;
}
.push-control {
	background: #f7819f;
	box-shadow: 0 2px 3px rgba(192,192,192,0.7), 0 2px 3px rgba(0,0,0,0.7) inset;
	position: relative;
}



/* --------------- middle screen ---------*/
@media screen and (min-width: 992px) and (max-width: 1023px) {
	body {
		font-size: 1.5em;
	}
	.container {
		min-width: 990px;
	}
	.row {
		height: 2.7em;
	}

	.button {
		width: 6.5%;
		line-height: 45px;	
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 6px;
	}
	.alt-right, .none, .menu, .ctrl-right {
    width: 8.2%;
	}
	.backspace {
        width: 7.8%;
	}
	.tab {
		width: 7.8%;
	}
	.slash {
        width: 6.3%;
	}
	.capslock {
        width: 9.7%;
	}
	.enter {
		width: 11.5%;
	}
	.shift-left, .shift-right {
    width: 14.3%;
	}
	.ctrl-left,
	.win,
	.alt-left {
		width: 9.3%;
	}
	.space {
	width: 35%;
	}
	.fbutton {
	width: 6.1%;
	}
	.home {
		margin-right: 10px;
		font-size: 0.75em;
	}
	.button-left {
	margin-right: 14px;
	}	
	.button-right {
	margin-left: 14px;
	}
	.button-up {
	margin-right: 9px;
	}
	.arrow_button {
		line-height: 45px;
	}

}

	
@media screen and (min-width: 1110px) and (max-width: 1240px) {
	.row {
		height: 3em;
	}
	.escape,
	.tab,
	.capslock,
	.shift-left {
		margin-right: 12px;
	}	.button {
	line-height: 60px;	
	}
	.home {
		font-size: 0.8em;
	}
	.fbutton {
	width: 6.2%;
	}
	.button-left {
	margin-right: 15px;
}	
	.button-right {
	margin-left: 15px;
	}
	.button-up {
	margin-right: 10px;
	}

	
}

